
<body>
    <div class="grid">
         <div class="col-6 col-offset-1 md:col-6 lg:col-4">
                <h2 class="mb-4">Prezent dla: Piotrka</h2>
                <h3 class="mb-4">Zebrano: 2100zł z 3000zł</h3>
                <h3>Data Utworzenia zbiórki:</h3>
                <h3 class="mb-4">18.10.2023</h3>
                <h3>Data zakończenia:</h3>
                <h3 class="mb-4">27.10.2023</h3>
                <h4 class="mb-4">Kwota zrzutki: 200zł</h4>
            </div>
            <div class="col-6 sm:col-6 lg:col-4">
                <div class="card bg-primary border-round my-4 shadow-4 flex text-center justify-content-center">
                    <h3 class="mb-4">Organizatorem zbiórki jest Marcin</h3>
                </div>
            </div>
        </div>
</body>